attrs==17.4.0
-e git+git@github.com:devynms/data-projects.git@296555da1223d790cd0bbea32e20a1924002f786#egg=learning&subdirectory=sudoku-solving/learning
numpy==1.14.2
pluggy==0.6.0
py==1.5.2
py-cpuinfo==3.3.0
pytest==3.4.1
pytest-benchmark==3.1.1
six==1.11.0
